*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

## FOR PRIVACY REASONS
/app/src/androidTest
/app/src/test
/app/src/mock
/app/src/one
/app/release
/app/one
/app/build